<nav class="navbar navbar-expand-lg navbar-light">
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <a class="navbar-brand" href="#">Travel Planner</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <mat-slide-toggle (change)="toggleTheme()" >Dark Mode</mat-slide-toggle>
    <ul class="navbar-nav ms-auto">
      
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/destinations']" routerLinkActive="active">Destinations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['destinations/budget']" routerLinkActive="active">Budget Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['destinations/itinerary']" routerLinkActive="active">Itinerary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
