<div style="padding: 20px; background-color: #3f51b5; height: 100%">
    <form (ngSubmit)="handleSubmit(signUpForm)" #signUpForm="ngForm">
        <mat-card class="signup-card">
            <h2 style="font-weight: bold;">SignUp</h2>
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-label>Email</mat-label>
                <input matInput placeholder="abc@gmail.com" required email type="email" [(ngModel)]="userEmail" name="userEmail" #userEmailElem = "ngModel"/>
            </mat-form-field>
            <div *ngIf="userEmailElem.touched && userEmailElem.errors?.['email']" style="color: red;margin-bottom: 1em;">
                User Email is invalid.
            </div>

            <mat-form-field appearance="outline">
                <mat-icon matSuffix>password</mat-icon>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" required [(ngModel)]="pass" name="pass"/>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="signUpForm.invalid">Signup</button>
            <p style="text-align: center; margin-top: 1em;">OR</p>
            <button mat-raised-button color="primary" (click)="redirectToLogin()">Login</button>
        </mat-card>
    </form>
</div>







<!-- <div>
    <h1>Hello Welcome</h1>
    <h3>Create An Account</h3>
    <form (ngSubmit)="handleSubmit(signUpForm)" #signUpForm="ngForm">
        <div>
            <label for="userEmail">Enter user email</label>
            <input [(ngModel)]="userEmail" name="userEmail"/>
        </div>
        <div>
            <label for="pass">Enter user password</label>
            <input [(ngModel)]="pass" name="pass"/>
        </div>
        <button type="submit">SignUp</button>
    </form>
</div> -->