<div style="padding: 20px; background-color: #3f51b5; height: 100%">
    
    <form (ngSubmit)="handleLogin(loginForm)" #loginForm="ngForm">
        <mat-card class="login-card">
            <h2 style="font-weight: bold;">Login</h2>
            <!-- <mat-card-title class="font-weight-bold">Login</mat-card-title> -->
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-label>Email</mat-label>
                <input matInput placeholder="abc@gmail.com" required email type="email" [(ngModel)]="userEmail" name="userEmail" #userEmailElem="ngModel"/>
            </mat-form-field>
            <div *ngIf="userEmailElem.touched && userEmailElem.errors?.['email']" style="color: red;margin-bottom: 1em;">
                User Email is invalid.
            </div>
            
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>password</mat-icon>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" required [(ngModel)]="pass" name="pass"/>
            </mat-form-field>

            <p *ngIf="loginSuccess === false" style="color: red;">
                User Email or Password is invalid.
              </p>
            
            <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
            <p style="text-align: center; margin-top: 1em;">OR</p>
            <button mat-raised-button color="primary" (click)="redirectToSignUp()">Signup</button>
        </mat-card>
    </form>
</div>









<!-- <form class="form flex flex-center">
    <h3>Login</h3>
    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>
    <button mat-stroked-button>LOGIN</button>
</form> -->







<!-- 
<div class="container d-flex justify-content-center h-100" >
    <mat-card class="login-card">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="handleLogin(loginForm)" #loginForm="ngForm">
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="userEmail" name="userEmail" placeholder="User Email"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="pass" name="pass" placeholder="Password"/>
                    </mat-form-field>
                </div>
                <div class="button">
                    <button type="submit" mat-button>Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>    
</div> -->













<!-- <div>
    <h1>Hello Welcome</h1>
    <h3>Login to Account</h3>
    <form (ngSubmit)="handleLogin(loginForm)" #loginForm="ngForm">
        <div>
            <label for="userEmail">Enter user email</label>
            <input [(ngModel)]="userEmail" name="userEmail"/>
        </div>
        <div>
            <label for="pass">Enter user password</label>
            <input [(ngModel)]="pass" name="pass"/>
        </div>
        <button type="submit">Login</button>
    </form>
</div> -->