<div class="container-fluid mt-3">
  <h2>Destinations</h2>
  
  <!-- Filters -->
  <div class="filters mb-4 row">
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Filter by Type</mat-label>
        <input matInput placeholder="City, Island, etc." [(ngModel)]="filterType" (input)="filterDestinations()"/>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Max Budget</mat-label>
        <input matInput type="number" [(ngModel)]="maxBudget" (input)="filterDestinations()" />
      </mat-form-field>
    </div>
  </div>
  
  <!-- Destination List -->
  <div *ngIf="fetchDestinationError ; else content">
    Error occured while fetching destination. Try reloading the page. 
  </div>
    <ng-template #content>
      <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let destination of filteredDestinations">
          <div class="card shadow">
            <img class="card-img-top" src="assets/images/{{destination.name}}.jpg">
            <div class="card-body">
              <!-- <h3 [appHighlightFavorite]="destination.isFavorite" class="card-title">{{destination.name}}</h3> -->
              <div [appHighlightFavorite]="destination.isFavorite" class="card-title" (click)="redirectTodetail(destination.name)">{{destination.name}}</div>
              <p class="card-text">{{destination.description | turncateDescription : 50}}</p>
              <p class="card-text">
                <strong>Type:</strong> {{destination.type}}
                <strong>Budget:</strong> {{destination.budget | currencyFormat}}
              </p>
              <div class="card-text rating">
                <strong>Rating:</strong>
                <div class="stars">
                  <mat-icon *ngFor="let star of stars(destination.rating)">star</mat-icon>
                  <mat-icon *ngIf="destination.rating % 1 >= 0.5">star_half</mat-icon>
                </div>
                
              </div>
            </div>
          </div>
        </div> 
      </div>
    </ng-template>
  
  
  <!-- Recommendations Block-->
  <div class="row" *ngIf="recommendedDestinations.length !== 0">
    <h2>Recommended Destinations</h2>
    <div class="col-md-3 mb-4" *ngFor="let destination of recommendedDestinations">
      <div class="card shadow">
          <img class="card-img-top" src="assets/images/{{destination.name}}.jpg">
        <div class="card-body">
          <!-- <div [appHighlightFavorite]="destination.isFavorite" class="card-title">{{destination.name}}</div> -->
          <div  class="card-title" (click)="redirectTodetail(destination.name)">{{destination.name}}</div>
          <p class="card-text">{{destination.description | turncateDescription : 50}}</p>
          <p class="card-text">
            <strong>Type:</strong> {{destination.type}}
            <strong>Budget:</strong> {{destination.budget | currencyFormat}}
          </p>
          <div class="card-text rating">
            <strong>Rating:</strong>
            <div class="stars">
              <mat-icon *ngFor="let star of stars(destination.rating)">star</mat-icon>
              <mat-icon *ngIf="destination.rating % 1 >= 0.5">star_half</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>


