<div class="container-fluid mt-3">
  <h2>Destinations</h2>
  
  <!-- Filters -->
  <div class="filters mb-4 row">
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Filter by Type</mat-label>
        <input matInput placeholder="City, Island, etc." [(ngModel)]="filterType" (input)="filterDestinations()" />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Max Budget</mat-label>
        <input matInput type="number" [(ngModel)]="maxBudget" (input)="filterDestinations()" />
      </mat-form-field>
    </div>
  </div>
  
  <!-- Destination List -->
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let destination of filteredDestinations">
      <div class="card shadow">
        <img class="card-img-top" src="assets/paris.jpg">
        <div class="card-body">
          <h3 class="card-title">{{destination.name}}</h3>
          <p class="card-text">{{destination.description}}</p>
          <p class="card-text">
            <strong>Type:</strong> {{destination.type}}
            <strong>Budget:</strong> {{destination.budget}}
          </p>
          <div class="card-text rating">
            <strong>Rating:</strong>
            <div class="stars">
              <mat-icon *ngFor="let star of stars(destination.rating)">star</mat-icon>
              <mat-icon *ngIf="destination.rating % 1 >= 0.5">star_half</mat-icon>
            </div>
            
          </div>
        </div>
      </div>
    </div> 
  </div>
  
  <!-- Recommendations Block-->
  
  <div class="row" *ngIf="recommendedDestinations.length !== 0">
    <h2>Recommended Destinations</h2>
    <div class="col-md-3 mb-4" *ngFor="let destination of recommendedDestinations">
      <div class="card shadow">
        <img class="card-img-top" src="assets/paris.jpg">
        <div class="card-body">
          <div class="card-title">{{destination.name}}</div>
          <p class="card-text">{{destination.description}}</p>
          <p class="card-text">
            <strong>Type:</strong> {{destination.type}}
            <strong>Budget:</strong> {{destination.budget}}
          </p>
          <div class="card-text rating">
            <strong>Rating:</strong>
            <div class="stars">
              <mat-icon *ngFor="let star of stars(destination.rating)">star</mat-icon>
              <mat-icon *ngIf="destination.rating % 1 >= 0.5">star_half</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
</div>

<!-- <div class="container mt-5">
  <h3>Recommended Destinations</h3>
  <div *ngIf="recommendedDestinations.length === 0" class="text-muted">
    No recommendations available.
  </div>
  <div *ngFor="let destination of recommendedDestinations" class="recommendation-item">
    <h4>{{ destination.name }}</h4>
    <p>Type: {{ destination.type }}</p>
  </div>
</div> -->


<!-- <div class="destinations-list">
  <input (input)="filterDestinations($event)" placeholder="Search by type..." />
  <div *ngFor="let destination of filteredDestinations" [appHighlightFavorite]="destination.isFavorite">
    <h3>{{ destination.name }}</h3>
    <p>{{ destination.description | turncateDescription : 50 }}</p>
  </div>
</div>
-->

